pipeline/pl_setVariable.json
{
	"name": "pl_setVariable",
	"properties": {
		"activities": [
			{
				"name": "ADFName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ADFName",
					"value": {
						"value": "@pipeline().DataFactory",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ADFName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineName",
					"value": {
						"value": "@pipeline().Pipeline",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "PipelineName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Run_ID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfpipelinedetails]",
					"storedProcedureParameters": {
						"adfname": {
							"value": {
								"value": "@variables('ADFName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_runid": {
							"value": {
								"value": "@variables('Run_ID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@variables('PipelineName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_source_sql_server",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ADFName": {
				"type": "String"
			},
			"PipelineName": {
				"type": "String"
			},
			"Run_ID": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-12T15:23:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}